@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --pro100: #FFFFFF;
  --pro200: #F0F0F0;
  --pro300: #CCCCCC;
  --pro400: #B0B0B0;
  --pro500: #999999;
  --pro600: #707070;
  --pro700: #666666;
  --pro800: #333333;
  --pro850: #1A1A1A;
  --pro900: #000000;
  /* --accent: #3B82F6; */
  --accent: #10B981;
  /* --accent: #FF5A00; */
  /* --accent: #F59E0B; */
  /* --accent: #8B5CF6; */
  /* --accent: #EC4899; */
}

@theme inline {
  --color-pro100: var(--pro100);
  --color-pro200: var(--pro200);
  --color-pro300: var(--pro300);
  --color-pro400: var(--pro400);
  --color-pro500: var(--pro500);
  --color-pro600: var(--pro600);
  --color-pro700: var(--pro700);
  --color-pro800: var(--pro800);
  --color-pro850: var(--pro850);
  --color-pro900: var(--pro900);
  --color-accent: var(--accent);

  /* --font-heading: var(--font-geist-bold); */
  --font-heading: var(--font-inter-bold);
  /* --font-regular: var(--font-geist-regular); */
  --font-regular: var(--font-inter-regular);
  /* --font-text: var(--font-geist-mono); */
  --font-text: ui-monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-snap-type: y mandatory;
}

body {
  /* font-family: var(--font-text); */
  /* scroll-snap-type: y mandatory; */
}

.no-snap {
  scroll-snap-type: none;
}

.snap section {
  scroll-snap-align: start;
}

/* .clickable {
  transition: transform 0.1s ease;
} */

.clickable:active {
  transform: scale(0.96) translateY(2px);
}

.blink {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-wrapper::before {
  content: "";
  position: absolute;
  inset: -6px;
  background: linear-gradient(45deg, var(--color-accent), transparent, var(--color-accent));
  border-radius: 50%;
  z-index: -1;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bullet-list-item::before {
  content: "▌";
  position: relative;
  margin-right: 8px;
  color: var(--color-accent);
}

.notes-item::before {
  content: "▌";
  position: absolute;
  left: 0;
  color: var(--color-accent);
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-pro100);
}

.filter-bw {
  filter: grayscale(100%) contrast(1000%) brightness(0%);
  transition: filter 0.3s ease;
}

.filter-bw:hover {
  filter: grayscale(0%) contrast(100%) brightness(100%);
}

.dark .filter-bw {
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease;
}

.dark .filter-bw:hover {
  filter: brightness(100%) invert(0);
}

.leaflet-interactive {
  stroke: var(--color-pro600);
  transition: all 0.3s ease;
}

.place-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-pro100);
  color: var(--color-pro800);
  font-family: var(--font-regular);
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.place-popup .leaflet-popup-content-wrapper a {
  color: var(--color-pro900);
  position: relative;
  background: linear-gradient(to right, var(--color-accent), var(--color-accent));
  background-size: 0% 2px;
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.dark .place-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-pro800);
  color: var(--color-pro100);
}

.dark .place-popup .leaflet-popup-content-wrapper a {
  color: var(--color-pro200);
}

.place-popup .leaflet-popup-content-wrapper a:hover {
  background-size: 100% 2px;
  color: var(--color-accent);
}

.place-popup .leaflet-popup-tip {
  background-color: var(--color-pro100);
}

.dark .place-popup .leaflet-popup-tip {
  background-color: var(--color-pro800);
}

.place-tooltip {
  background-color: var(--color-pro100);
  color: var(--color-pro800);
  font-weight: bold;
  font-size: 0.9rem;
  padding: 4px 8px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.dark .place-tooltip {
  background-color: var(--color-pro800);
  color: var(--color-pro100);
}

.place-title {
  font-size: 1.2rem;
}

.modal-open nav {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}